body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    
h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
}

.flex-container {
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
}

.flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
    
}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}

.square {
    border: 2px solid rgba(0, 0, 0, .75);
    height: 140px;
    width: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
    
#reset-button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
}

    #underline {
        width: 300px;
        height: 2px;
        background-color: blue;
        margin: 10px auto;
      }
      h4{
        font-size: 2.5em;
        margin: 10px;
        margin-top: 30px;
        color: black;
        font-weight: bolder;
      }
      img{
        width: 200px;
      }
      dialog{
        margin: auto;
        border-radius: 15px;
        color: blue;
       }
      dialog::backdrop{
        background-color: rgba(93, 188, 251, 0.5);
       
       }
      #fermer{
        background-color:blue;
        color: #dfe4ea;
        font-size: 2em;
        padding-top: 6px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 12px;
       }
      #fermerToujours{
        border: none;
        outline: none;
        background-color: white;
        font-size: 1.25em;
        padding: 10px;
       }
      #contenueDialogue{
        display:flex;
       }
      #texteDialogue{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #nomCours{
        color: black;
      }
      #nom{
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
        color: black;
      }
      #inspiration{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
        margin-top: 10px;
        color: black;
      }
      #boutons{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #lien{
        text-decoration: none;
        color: blue;
        margin-top: 10px;
      }